<div class="">
  <div class="container">
    <div class="row pt-0 vh-100 align-items-center justify-content-center">
      <div class="col-sm-8 col-md-6 col-lg-4 bg-white rounded p-4 shadow">
        <form>
          <h2 class="text-center">ĐĂNG KÝ</h2>
          <div class="mb-4 form-group">
            <div class="mb-2 form-group" style="width:50%;float:left;padding-right:20px ;">
              <label for="firstName" class="form-label">Họ</label>
              <input type="text" class="form-control" formControlName="firstName" id="firstName"
                placeholder="Họ">
            </div>
            <div class="mb-2 form-group"  style="width:50%;float:left ;">
              <label for="lastName" class="form-label">Tên</label>
              <input type="text" class="form-control" formControlName="lastName" id="lastName"
                placeholder="Tên">
            </div>

          </div>

          <div class="mb-4 form-group">
            <label for="Email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="Email" id="Email"
              placeholder="Vui lòng nhập Email">
          </div>
          <div class="mb-4 form-group">
            <label for="phone" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" formControlName="phone" id="phone" placeholder="Số điện thoại">
          </div>
          <div class="mb-4 form-group">
            <label for="birthday" class="form-label">Ngày sinh</label>
            <input type="date" class="form-control" formControlName="birthday" id="birthday"
              placeholder="Vui lòng nhập ngày sinh">
          </div>
          <div class="mb-4 form-group">
            <label for="password" class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" formControlName="password" id="password"
              placeholder="Vui lòng nhập mật khẩu">
          </div>



          <button type="submit" class="btn btn-success w-100 mb-4">Xác nhận </button>
        </form>
        <p class="mb-0 text-center">Bạn đã có tài khoản? <a routerLink="/sign-in"
            class="text-decoration-none"><u>Đăng nhập</u></a>
        </p>
      </div>
    </div>
  </div>
</div>
