<div class="container">
  <div class="row my-5 shadow-lg sign__in-card">
    <div class="col-lg-6 px-0">
      <img
        src="https://images.pexels.com/photos/1536619/pexels-photo-1536619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="" />
    </div>
    <div class="col-lg-6 login__form d-flex flex-column justify-content-center">
      <h3 class="text-center">ĐĂNG NHẬP</h3>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" placeholder="Enter email" formControlName="email" />

          <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
            <div *ngIf="f['email'].errors && f['email'].errors['required']">Email không được để trống.</div>
            <div *ngIf="f['email'].errors && f['email'].errors['email']">Email không đúng định dạng.</div>
          </div>

        </div>
        <div class="form-group">
          <label>Mật khẩu<ul></ul></label>
          <input type="password" class="form-control" placeholder="Enter password" formControlName="password" />

          <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
            <div *ngIf="f['password'].errors && f['password'].errors['required']">Password không được để trống.</div>
            <div *ngIf="f['password'].errors && f['password'].errors['minlength']">Password không được nhỏ hơn 6 ký tự.
            </div>
          </div>
        </div>
        <a [routerLink]="['/sign-up']" class="d-block mb-3">Chưa có tài khoản? Đăng ký</a>

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn w-100 btn__submit" [disabled]="loginForm.invalid">
            Đăng nhập
          </button>
        </div>
      </form>

      <div class="mb-4">
        <p class="text-center"><a href="#" class="text-decoration-none">Quên mật khẩu</a></p>
      </div>
    </div>
  </div>
</div>
