
    <div class="header-left">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">HOT SUMMER 2022</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nam</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nữ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Phụ kiện</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chọn size</a>
        </li>
      </ul>
    </div>

    <div class="header-right">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>

        </li>
        <li class="nav-item">
          <button mat-icon-button>
            <mat-icon>favorite_border</mat-icon>
          </button>

        </li>
        <li class="nav-item">
          <button mat-icon-button>
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </li>
      </ul>
    </div>

    <div class="header-bottom">
      <ul style="text-align:center;list-style: none;">
        <li>
          <p style="margin-top:12px" class="freeship">Freeship nội thành cho đơn từ 300.000</p>
        </li>

      </ul>
    </div>


  <!-- <button (click)="open()"></button> -->

