<div class="content-footer">
  <div class="cot1">
    <div>
      <h3>#FPT Polytechnic</h3>
      <p>Với thông điệp "Refined Life", chúng tôi mong muốn đem đến cho khách hàng một lối sống tinh gọn bằng các sản
        phẩm
        thời trang tinh tế.</p>
    </div>
  </div>
  <div class="cot1">
    <h3> CHI NHÁNH HÀ NỘI</h3>
    <p>105 - D6, ngõ 4B Đặng Văn Ngữ</p>

    <p>70 Tô Hiến Thành</p>


    <p> 167 Cầu Giấy</p>

    <p>46 Đông Các</p>
    <h3 style="margin-top:30px">CHI NHÁNH TP. HỒ CHÍ MINH</h3>

    <p>Lầu 1, số 25, Nguyễn Trãi, Q1</p>

    <p> 152 Nguyễn Gia Trí, Bình Thạnh </p>
  </div>
  <div class="cot1">

    <h3> CHÍNH SÁCH</h3>
    <p> Hướng dẫn đổi trả
    </p>
    <h3 style="margin-top:125px">LIÊN HỆ</h3>
    <p>Hotline: 035 553 01 887</p>
    <p>Email: anhcoming@gmai.com</p>
  </div>
  <div class="cot1">
    <h3>SOCIAL</h3>
    <div>
      <span>
        <img src="https://i.pinimg.com/originals/5f/0c/25/5f0c255d69fa5c24701c547d35ceb5ae.png" height="30px"></span>
      <span>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Instagram_font_awesome.svg/1024px-Instagram_font_awesome.svg.png"
          alt="" height="30px">
      </span>
      <span>
        <img src="https://cdn-icons-png.flaticon.com/512/5969/5969008.png" alt="" height="30px">
      </span>
    </div>
  </div>

</div>
