.cot1{
  float: left;
  width: 25%;
  height: auto;
  padding: 10px;
}
span{
  margin: 5px;
}
h3{
  font-family: Verdana;
  font-weight: 500;
  color: black;

}
p{
  color: #acacac;
  font-family: sans-serif;
}
.content-footer{
  padding-top: 20px;
  padding-left:20px
}

