<div class="border2">
  <p class="title" style="text-align:center">My Fit Size</p>
  <div class="border1">

    <article>
      <table class="table">
        <thead>
          <tr class="table-active">
            <th scope="col">Kích thước</th>
            <th scope="col">Chiều cao(cm)</th>
            <th scope="col">Cân nặng(kg)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="table-secondary">S</th>
            <td>160-170</td>
            <td>49-54</td>
          </tr>
          <tr>
            <th class="table-secondary">M</th>
            <td>160-170</td>
            <td>55-60</td>
          </tr>
          <tr>
            <th class="table-secondary">L</th>
            <td>166-174</td>
            <td>61-66</td>
          </tr>
          <tr>
            <th class="table-secondary">XL</th>
            <td>170-177</td>
            <td>67-72</td>
          </tr>
          <tr>
            <th class="table-secondary">XXL</th>
            <td>175+</td>
            <td>73+</td>
          </tr>
        </tbody>
      </table>
    </article>


    <!-- ///////////////////////////// -->

    <aside>

      <p><b>Giúp bạn tìm size phù hợp</b></p>

      <div class="height">
        <label for="exampleInputEmail1" class="form-label" style="font-weight: 200px;">Chiều cao(cm)</label>
        <input type="text" placeholder="..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="weight">
        <label for="exampleInputPassword1" class="form-label" style="font-weight: 200px;">Cân nặng(kg)</label>
        <input type="text" placeholder="..." class="form-control" id="exampleInputPassword1">
      </div>

      <p style="padding-left:10px"><b>Size phù hợp với bạn là XL</b></p>

      <div class="">
        <button class="findSize" mat-stroked-button>Tìm size</button>
      </div>

      <div class="">
        <button class="applySize" mat-stroked-button>Áp dụng size</button>
      </div>
      <!-- <p style="padding-left:10px">Size phù hợp với bạn là XL</p>

  <div class="option">
    <button class="findSize"  mat-raised-button>Tìm size</button>
    <button class="applySize" mat-raised-button>Áp dụng size</button>
  </div> -->


    </aside>


  </div>
</div>
