<h3>Đổi mật khẩu</h3>
<hr>
<div class="" style="padding:0px 220px">

  <label for="lastName" class="form-label">Mật khẩu cũ</label>
  <input #x type="password" class="form-control" formControlName="lastName" id="lastName" placeholder="Mật khẩu cũ">
  <label for="lastName" class="form-label">Mật khẩu mới</label>

  <input #y type="password" class="form-control" formControlName="lastName" id="lastName" placeholder="Mật khẩu mới">
  <!-- <div><input id="check" type="checkbox" (click)="x.type=x.type=='password'?'text':'password'"
      (click)="y.type=y.type=='password'?'text':'password'" style="">
      <label for="check"
      style="padding-top:20px">Hiện mật khẩu</label></div> -->
  <button class="mt-5" style="width:100%;">CẬP NHẬT</button>

</div>
