<div id="search-bar">
  <div class="container" id="titleProduct">Sản phẩm phổ biến</div>
  <div class="container" style="font-size: 14px">
    <div class="row">
      <div class="col-xl-10">
        <mat-form-field appearance="outline">
          <mat-label style="height: 30px">Tìm kiếm sản phẩm</mat-label>
          <input type="text" matInput [value]="">
        </mat-form-field>
        <!-- KÍCH THƯỚC -->
        <mat-form-field style="width: 100px" fxFlex="40" appearance="outline">
          <mat-label>Kích cỡ</mat-label>
          <mat-select>
            <mat-option *ngFor="let option of options1" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="height: 20px;">
          <mat-label>Loại sản phẩm</mat-label>
          <mat-select [(value)]="typeOption">
            <mat-option *ngFor="let option of ['Áo','Quần','Giày','Dép']" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Sắp xếp theo</mat-label>
          <mat-select [(value)]="sortOption" (valueChange)="sortOptionChange()">
            <mat-option *ngFor="let option of ['Tên', 'Mới nhất','Bán chạy','Giá']"
              [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)="openPrice()" style="height: 50px; position: relative; top: -5px; left: 10px" mat-raised-button color="basic">Giá+</button>
      </div>
    </div>

    <div class="row">
      <div id="content-body" (click)="openDialog()">
        <div class="container" id="content">
          <div *ngFor="let item of listProduct| paginate: { itemsPerPage: 8, currentPage: p }" class="card" width="100%"
            height="100%" style="width: 18rem;">
            <img src="{{item.thumbnail}}" class="card-img-top" width="200px" height="300px">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">{{item.price | currency :'VND' :true: '1.0-3'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>



